<a href="https://colab.research.google.com/github/cha-de-sazon/UNI_PI/blob/main/Lista1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1

lado = float(350)

print("Área:", lado * 2, "m")

Área: 700.0 m

In [1]:
#2

notas = [7.5, 4.5, 9]

print("Média:", sum(notas) / len(notas))

Média: 7.0

In [ ]:
#3

hugo = "Hugo"
gastou = "gastou 50 reais"
ontem = "ontem"

print(hugo, gastou, ontem)

Hugo gastou 50 reais ontem

In [ ]:
#4

raio = float(5)
pi = float(3.14159)

print("Área:", pi * raio * 2)

Área: 31.4159

In [ ]:
#5

num1 = int(input("Primeiro Número: "))
num2 = int(input("Segundo Número: "))

print("Produto =", num1 * num2)

Primeiro Número: 5
Segundo Número: 10
Produto = 50

In [ ]:
#6

numNotas = int(4)
notas = []

for i in range(numNotas):
  notas.append(float(input(f"Nota {i+1}: ")))

print("Média:", sum(notas) / numNotas)

Nota 1: 10
Nota 2: 7.3
Nota 3: 0
Nota 4: 8
Média: 6.325

In [ ]:
#7

base = float(input("Base: "))
altura = float(input("Altura: "))

print("Área:", base * altura / 2)

Base: 10
Altura: 5
Área: 25.0

In [ ]:
#8

quadrado = int(92)
cubo = int(4)
resto = int(1000)

ler = [pow(quadrado, 2), pow(cubo, 3), resto % 4.5]

print(ler)

[8464, 64, 1.0]

In [ ]:
#9

nasc = int(input("Ano de nascimento: "))
atual = int(input("Ano atual: "))

idade = atual - nasc
futuro = idade + 2050 - atual

print(f"Idade hoje: {idade}")
print(f"Idade em 2050: {futuro}")

Ano de nascimento: 2005
Ano atual: 2025
Idade hoje: 20
Idade em 2050: 45

In [ ]:
#10

conta = float(input("Valor da conta: "))
gorjeta = float(conta / 10)

print(f"Conta: R$ {conta:.2f}")
print(f"Gorjeta: R$ {gorjeta:.2f}")
print(f"Total: R$ {conta + gorjeta:.2f}")

Valor da conta: 1200
Conta: R$ 1200.00
Gorjeta: R$ 120.00
Total: R$ 1320.00

In [ ]:
#11

comprimento = float(input("Comprimento da Sala: "))
largura = float(input("Largura da Sala: "))

print(f"Área: {comprimento * largura} m")

Comprimento da Sala: 15
Largura da Sala: 25
Área: 375.0 m